<!DOCTYPE html>
<html>
<head>
  <title>Sign UP</title>
</head>
<body>
  <h2 class="text-center">Sign up</h2>
  <div class="container col-8">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group">
     <%= f.label :name %><br />
     <%= f.text_field :name, autofocus: true,class: "form-control" %>
   </div>
   <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" %>
  </div>

  <div class="form-group row justify-content-md-center">
    <p><%= f.submit "Sign up" ,class: "btn btn-success btn-lg"%></p>

  </div>
  <% end %>
  <div class=" form-group row justify-content-md-center">
    <p>Alredy have an account please </p><p><%= link_to "Login Now", user_session_path %></p>
  </div>>

</div>
</body>
</html>



