<% if resource.errors.any? %>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <% if(message=="Email has already been taken")%>
          <p>Email alredy existed</p>
        <% else%>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
