<div class="container border">
	<%= render 'shared/errors' %>
	<div class="row justify-content-md-center mt-4">
		<div class="col-8">
			<%= form_with(model: @article,local: true) do |f| %>
			<%= f.hidden_field :user_id %>
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">
					<%= f.label :title, class: "col-sm-2 col-form-label font-weight-bold"  %>
				</div>
				<div class="col-10">
					<%= f.text_field :title , class: "form-control" ,placeholder: "Enter title of your post"%>
				</div>

			</div>
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">
					<%= f.label :description ,class: "col-sm-2 col-form-label font-weight-bold"%><br>
				</div>
				<div class="col-10">
					<%= f.text_area :description,rows:10 ,class: "form-control", placeholder: "Enter description" %>
				</div>
			</div>
			<div class="form-group row justify-content-md-center">
				<%= link_to "Return Home", articles_path, class: "btn btn-info mr-4" %>
				<%= f.submit class: "btn btn-primary"%>
			</div>
			<%end%>
		</div>
	</div>
</div>
