<!DOCTYPE html>
<html>
<head>
	<title>Edit Post</title>
</head>
<body>
	<div class="content_container">
		<h2 class="text-center font-weight-bold text-white">Update Post</h2>
		<%= render 'form' %>
	</div>>
</body>
</html>