<!DOCTYPE html>
<html>
<head>
	<title>Posts</title>
</head>
<body>
	<div class="index_page">
		<h1 class="text-center">Recent Posts</h1>
		<div class="container">
			<% @articles.reverse_each do |article| %>
			<div class="row justify-content-md-center">
				<div class="col-9 mt-4">
					<div class="card text-center shadow mb-5 bg-white rounded">
						<div class="card-header font-italic">
							 <%= article.user.name if article.user%>
						</div>
						<div class="card-body">
							<h5 class="card-title text-uppercase"><%= link_to article.title,article_path(article) %></h5>
							<p class="card-text"><%= truncate(article.description, length: 80) %></p>
							<% if(current_user.id==article.user_id || current_user.admin?)%>
								<%= link_to "View", article_path(article), class: "btn btn-outline-success" %>
								<%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info" %>
								<%= link_to "Delete", article_path(article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>
							<% else %>
								<%= link_to "View", article_path(article), class: "btn btn-outline-success" %>
							<% end %>
						</div>
						<div class="card-footer text-muted">
							<small>Created about <%= time_ago_in_words(article.created_at)%> ago
								, Updated about <%= time_ago_in_words(article.updated_at)%> ago
							</small>
						</div>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</body>
</html>
