<!DOCTYPE html>
<html>
<head>
	<title>Create a new blog post</title>
</head>
<body>
	<div class="content_container">
		<h2 class="text-lg-center font-weight-bold text-white">Create New Post</h2>

		<%= render 'form' %>
	</div>>

</body>
</html>