<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container col-6 mt-3">
	<div class="card bg-light mb-3" >
		<div class="card-header text-center text-success"><%= @article.title %></div>
		<div class="card-body">
			<h5 class="card-title"></h5>
			<p class="card-text"><%= simple_format @article.description %></p>
			<div class="text-center">
			<% if(current_user.id==@article.user_id)%>
				<%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-info" %>
				<%= link_to "Return Home", articles_path, class: "btn btn-info" %>
				<%= link_to "Delete", article_path(@article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>
			<% else %>
				<%= link_to "Return Home", articles_path, class: "btn btn-info" %>
			<% end %>
		</div>
		</div>
	</div>
</div>
</body>
</html>