<% if @article.errors.any? %>
<div class="alert alert-danger" role="alert">
	<h4 class="alert-heading">There was an error with your post</h4>
	<ul>
		<% @article.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>