<div class="jumbotron jumbotron-fluid text-center text-white"  id="home_container">
	<div class="container">
		<h1 class="display-4">Welcome to Pega Devolopers Hub</h1>
		<p class="lead">It's a free website to publish your pega related works and teach how to use pega feautures.Please feel free to contact us if something happened wrong</p>
		<hr class="lead">
		<p>I hope we all can grow togather make this website popular and one more thing its non profitable website </p>
		<%= link_to "Login Now", user_session_path,class: "btn btn-primary"%>
	</div>
</div>