<h2 class="text-center">Log in</h2>
<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" ,class: "form-control"%>
  </div>

  <% if devise_mapping.rememberable? %>
  <div class="form-check">
    <%= f.check_box :remember_me ,class: "form-check-input"%>
    <%= f.label :remember_me ,class: "form-check-label" %>
  </div>
  <% end %>

  <div class="form-group row justify-content-md-center">
    <%= f.submit "Log in", class: "btn btn-primary btn-lg" %>
  </div>
  <% end %>
  <div class="form-group row justify-content-md-center">
    <%= render "devise/shared/links" %>
  </div>
</div>
