@import 'bootstrap/dist/css/bootstrap';
.nav-link{
	color: white !important;
}
body, html {
  height: 100%;
}
#logo{
	color: white !important;
	text-transform: uppercase;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 20px;
}
#update{
  color: blue;
}
#home_container{
	background-image: image-url("home.jpg");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	height: 100%;
}
.content_container{
	  background-image: image-url("content.jpg");
	  background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	height: 100%;
}
p,h1{
	font-family: "Times New Roman", Times, serif;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
.index_page{
  background-color:#09F9D1 ;
}