<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to "PegaDevolopersHub",root_path ,class: "navbar-brand",id:"logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Posts" , articles_path ,class: "nav-link"%>
      </li>
      <li class="nav-item">
       <%= link_to "Create Post" , new_article_path ,class: "nav-link"%>
     </li>
   </div>
 </ul>
<div class="d-flex justify-content-end">
  <% if current_user %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete,class: "btn btn-danger"%>
  <% elsif current_page?('/register')%>
  <%= link_to "Login", user_session_path,class: "btn btn-danger"%>
  <% else %>
  <%= link_to "SignUp", new_user_registration_path ,class: "btn btn-success"%>
  <% end %>
</div>
</nav>