<!DOCTYPE html>
<html>
<head>
	<title>PegaDevolopersHub</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	
	<%= render 'layouts/navbar'%>
	<%= render 'layouts/messages' %>
	<%= yield %>
	<%= render 'layouts/footer'%>
</body>
</html>
